# 数据集和一些模型
/datasets_processed/*
*.off
*.npz



# 实验结果
/result*/*
/checkpoints/*
/temp/*
/model/*


# matlab非代码文件
*.asv
*.txt
!requirements.txt
/matlab/data/*



# python的中间文件
__pycache__/*
.cache
__pypackages__/*

.idea

